p {
  color: #666666;
  font-family: Arial;
  margin-top: 0px;
  margin-bottom: 0px;
}

input {
  width: 400px;
  font-size: 18px;
  color: #202124;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
  margin-bottom: 25px;
  border-style: solid;
}

.rules {
  margin-bottom: 2px;
}

button {
  font-size: 20px;
  color: white;
  background-color: #2d64bc;
  border: none;
  cursor: pointer;
  border-radius: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 150px;
  padding-right: 150px;
  margin-top: 20px;
}