input {
  border-color: rgb(200,200,200);
  border-style: solid;
  border-width: 0.5px;
  border-style: solid;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
}

.email {
  margin-top: 10px;
  display: block;
}

.signup {
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  font-family: Arial;
  color: white;
  background-color: rgb(56,116,234);
  border: none;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 175px;
  padding-right: 175px;
  margin-top: 15px;
  cursor: pointer;
}
